.theme-light {
  /* Background Color Definitions */
  --background-primary: rgb(255, 253, 253);
  --background-secondary: rgb(251, 247, 247);
  --background-dark: rgb(23, 34, 62);
  --background-extra-dark: rgb(0, 10, 20);
  
  /* Accent Color Definitions */
  --accent-main: 225, 40, 40;
  --accent-soft: 75, 30, 30;
  --accent-main-foreground: rgb(var(--accent-main));
  --color-accent: var(--accent-main-foreground);
  --accent-main-background: rgba(var(--accent-main), 0.075);
  --accent-soft-foreground: rgba(var(--accent-soft), 0.125);
  --accent-soft-background: rgba(var(--accent-soft), 0.05);
  --accent-on-selection: rgba(var(--accent-main), 0.2);
  --success-callout-border: rgb(0, 175, 0);
  --warning-callout-border: rgb(250, 175, 0);
  --failure-callout-border: rgb(250, 20, 50);
  --bug-callout-border: rgb(235, 0, 170);

  /* Font Colors */
  --text-main: 0, 0, 0;
  --text-normal: rgba(var(--text-main), 1);
  --text-highlight-bg: rgb(255, 230, 90);
  --text-highlight-fg: var(--text-normal);
  --text-error: rgb(250, 20, 50);
  --text-accent: var(--accent-main-foreground);
  --text-muted: rgba(var(--text-main), 1);
  --text-faint: rgba(var(--text-main), 1);
  --text-white: var(--background-primary);
  --text-on-accent: var(--text-white) !important;
  --text-selection: var(--accent-on-selection);
  --code-normal: var(--text-white);
  --code-punctuation: var(--code-normal);
  --background-modifier-error: var(--text-error);
  --background-modifier-error-hover: var(--text-error);
  --hr-color: rgba(var(--text-main), 0.33);

  /* Syntax Highlighting */
  --code-peripheral: 255, 237, 237;
  --code-comment: rgba(var(--code-peripheral), 0.6);
  --code-indentation-guide-color: rgba(var(--code-peripheral), 0.25);
  --color-yellow: rgb(250, 235, 30);
  --color-orange: rgb(225, 80, 0);
  --color-pink: rgb(240, 110, 255);
  --color-red: rgb(255, 60, 60);
  --color-cyan: rgb(0, 202, 235);
  --color-green: rgb(0, 220, 80);
  --color-purple: rgb(140, 110, 255);

  /* Interface Colors */
  --titlebar-background: var(--background-secondary);
  --titlebar-background-focused: var(--background-secondary);
  --interactive-normal: var(--accent-soft-background);
  --interactive-hover: var(--accent-soft-foreground);
  --interactive-accent: var(--accent-main-foreground);
  --interactive-accent-hover: var(--accent-main-foreground);
  --tag-background: var(--accent-main-background);
  --prompt-border-color: var(--accent-soft-foreground);
  --modal-border-color: var(--accent-soft-foreground);
  --code-background: var(--background-dark);
  --background-modifier-form-field: var(--accent-soft-background);
  --background-modifier-border: var(--accent-soft-foreground);
  --background-modifier-border-hover: var(--accent-soft-foreground);
  --background-modifier-border-focus: var(--accent-soft-foreground);

  /* Kanban Plugin Colors */
  --kanban-button-text: var(--text-normal);
  --kanban-button-text-hover: var(--text-white);
  --kanban-checkbox-border: var(--accent-soft-foreground);
}

.theme-dark {
  /* Background Color Definitions */
  --background-primary: rgb(22, 29, 44);
  --background-secondary: rgb(33, 43, 61);
  --background-dark: rgb(10, 18, 30);
  --background-extra-dark: rgb(0, 5, 10);
  
  /* Accent Color Definitions */
  --accent-main: 0, 202, 235;
  --accent-soft: 180, 205, 255;
  --accent-main-foreground: rgb(var(--accent-main));
  --color-accent: var(--accent-main-foreground);
  --accent-main-background: rgba(var(--accent-main), 0.05);
  --accent-soft-foreground: rgba(var(--accent-soft), 0.125);
  --accent-soft-background: rgba(var(--accent-soft), 0.05);
  --accent-on-selection: rgba(var(--accent-main), 0.2);
  --success-callout-border: rgb(0, 200, 0);
  --warning-callout-border: rgb(210, 225, 0);
  --failure-callout-border: rgb(250, 20, 50);
  --bug-callout-border: rgb(240, 0, 125);

  /* Font Colors */
  --text-main: 250, 250, 250;
  --text-normal: rgba(var(--text-main), 1);
  --text-highlight-bg: rgb(255, 230, 90);
  --text-highlight-fg: var(--background-primary);
  --text-error: rgb(250, 20, 50);
  --text-accent: var(--accent-main-foreground);
  --text-muted: rgba(var(--text-main), 1);
  --text-faint: rgba(var(--text-main), 1);
  --text-white: var(--text-normal);
  --text-on-accent: var(--background-primary) !important;
  --text-selection: var(--accent-on-selection);
  --code-normal: var(--text-white);
  --code-punctuation: var(--code-normal);
  --background-modifier-error: var(--text-error);
  --background-modifier-error-hover: var(--text-error);
  --hr-color: rgba(var(--text-main), 0.33);

  /* Syntax Highlighting */
  --code-peripheral: 190, 210, 255;
  --code-comment: rgba(var(--code-peripheral), 0.5);
  --code-indentation-guide-color: rgba(var(--code-peripheral), 0.2);
  --color-yellow: rgb(250, 235, 80);
  --color-orange: rgb(225, 80, 0);
  --color-pink: rgb(240, 110, 255);
  --color-red: rgb(255, 60, 60);
  --color-cyan: rgb(0, 202, 235);
  --color-green: rgb(0, 215, 90);
  --color-purple: rgb(140, 110, 255);

  /* Interface Colors */
  --titlebar-background: var(--background-secondary);
  --titlebar-background-focused: var(--background-secondary);
  --interactive-normal: var(--background-dark);
  --interactive-hover: var(--background-dark);
  --interactive-accent: var(--accent-main-foreground);
  --interactive-accent-hover: var(--accent-main-foreground);
  --tag-background: var(--accent-main-background);
  --prompt-border-color: var(--accent-soft-foreground);
  --modal-border-color: var(--accent-soft-foreground);
  --code-background: var(--background-dark);
  --background-modifier-form-field: var(--background-dark);
  --background-modifier-border: var(--accent-soft-foreground);
  --background-modifier-border-hover: var(--accent-soft-foreground);
  --background-modifier-border-focus: var(--accent-soft-foreground);

  /* Kanban Plugin Colors */
  --kanban-button-text: var(--text-normal);
  --kanban-button-text-hover: var(--background-primary);
  --kanban-checkbox-border: var(--background-primary);
}

/* Main Content, Light & Dark */
.workspace {
  /* Font Styles */
  --h1-color: var(--text-normal);
  --h2-color: var(--text-normal);
  --h3-color: var(--text-normal);
  --h4-color: var(--text-normal);
  --h5-color: var(--text-normal);
  --h6-color: var(--text-normal);
  --heading-formatting: var(--text-normal);
  --list-elements: var(--text-normal);
  --list-marker-color: var(--list-elements);
  --nav-item-color: var(--text-normal);
  --status-bar-text-color: var(--text-normal);
  --vault-name-font-weight: bold;
  --table-header-font: var(--font-text), sans-serif;
  --table-body-font: var(--font-monospace), monospace;

  /* Link Colors */
  --link-color: var(--accent-main-foreground);
  --link-color-hover: var(--accent-main-foreground);
  --link-external-color: var(--accent-main-foreground);
  --link-external-color-hover: var(--accent-main-foreground);
  --tag-color: var(--accent-main-foreground);

  /* Page Element Colors */
  --checkbox-border-color: var(--list-elements);
  --table-border-color: var(--list-elements);
  --table-header-border-color: var(--list-elements);
  --indentation-guide-color: rgba(var(--text-main), 0.2) !important;

  /* Page Element Styles */
  --border-radius: 2px;
  --border-radius-large: 4px;
  --checkbox-radius: var(--border-radius);
  --input-radius: var(--border-radius);
  --tag-radius: var(border-radius-large);
  --hr-thickness: 1px;

  /* Navigation Colors */
  --nav-item-background-hover: var(--accent-soft-background);
  --nav-item-background-active: var(--accent-soft-background);
  --nav-indentation-guide-color: var(--accent-main-foreground);
  --nav-collapse-icon-color: var(--accent-main-foreground);
  --nav-collapse-icon-color-collapsed: var(--accent-main-foreground);

  /* Icon Colors */
  --icon-color: var(--text-normal);
  --icon-color-hover: var(--text-normal);
  --icon-color-focused: var(--text-normal);
  --icon-color-active: var(--text-normal);
  --collapse-icon-color: var(--accent-main-foreground);
  --background-modifier-hover: var(--accent-soft-background);
  --background-modifier-active-hover: var(--accent-soft-background);

  /* Interface Colors */
  --ribbon-background: var(--background-secondary);
  --tab-background-active: var(--background-primary);
  --tab-outline-color: var(--accent-main-foreground);
  --scrollbar-thumb-bg: var(--accent-soft-background);
  --scrollbar-active-thumb-bg: var(--accent-soft-foreground);
  --divider-color: transparent;

  /* Kanban Plugin Styles */
  --button-radius: var(--border-radius);
  --button-shadow: rgba(var(--accent-soft), 1);
}

/* Ribbon Background  */
.workspace-ribbon {
  background-image: 
    radial-gradient(var(--accent-main-foreground) 20%, transparent 25%),
    radial-gradient(var(--accent-main-foreground) 20%, transparent 30%);
  background-position: 0px 0px, 3px 3px;
  background-size: 6px 6px;
}
.side-dock-ribbon-action, .side-dock-ribbon-action:hover {
  background: var(--background-secondary);
}

/* Page Element Style Overrides */
.cm-hashtag {
  line-height: 2em;
}
.cm-s-obsidian div.HyperMD-codeblock-begin-bg {
  border-radius: var(--border-radius) var(--border-radius) 0px 0px;
}
.cm-s-obsidian div.HyperMD-codeblock-end-bg {
  border-radius: 0px 0px var(--border-radius) var(--border-radius);
}
.code-block-flair {
  color: var(--code-normal) !important;
}
.code-block-flair:hover {
  background: var(--background-extra-dark) !important;
}
.markdown-rendered button.copy-code-button {
  color: var(--code-normal);
  background-color: transparent;
}
.markdown-rendered button.copy-code-button:hover {
  color: var(--code-normal);
  background-color: var(--background-extra-dark);
  box-shadow: none;
}
.HyperMD-codeblock .cm-indent::before {
  border-right: var(--indentation-guide-width) solid var(--code-indentation-guide-color) !important;
}
.HyperMD-codeblock {
  caret-color: var(--code-normal);
}
.callout {
  border-radius: var(--border-radius);
  border: 2px dashed var(--text-normal);
  background: transparent;
  padding: 1em;
}
.callout[data-callout="success"], .callout[data-callout="check"], .callout[data-callout="done"] {
  border: 2px dashed var(--success-callout-border) !important;
}
.callout[data-callout="warning"], .callout[data-callout="caution"], .callout[data-callout="attention"] {
  border: 2px dashed var(--warning-callout-border) !important;
}
.callout[data-callout="failure"], .callout[data-callout="fail"], .callout[data-callout="missing"], .callout[data-callout="danger"], .callout[data-callout="error"] {
  border: 2px dashed var(--failure-callout-border) !important;
}
.callout[data-callout="bug"] {
  border: 2px dashed var(--bug-callout-border) !important;
}
.callout-title, .callout-icon .svg-icon {
  color: var(--text-normal);
}
.callout p:last-child {
  margin-bottom: 0;
}
table {
  font-family: var(--table-body-font);
}
.canvas-node-container {
  border: 2px solid var(--text-normal);
  border-radius: var(--border-radius-large);
}
.canvas-node.is-selected .canvas-node-container,
.canvas-node.is-focused .canvas-node-container {
  border-color: var(--color-accent);
  box-shadow: var(--shadow-stationary), var(--shadow-border-accent);
}
.canvas-node-container:focus {
  border: 2px solid #fff;
}
hr, .markdown-rendered hr {
  border-top: var(--hr-color) var(--hr-thickness) dashed;
}
.suggestion-highlight, .markdown-rendered mark, .cm-s-obsidian .cm-highlight, .cm-formatting-highlight {
  background: var(--text-highlight-bg);
  color: var(--text-highlight-fg) !important;
}
.search-result-file-matched-text {
  color: var(--text-highlight-fg);
}
.is-flashing {
  caret-color: var(--text-highlight-fg);
  color: var(--text-highlight-fg);
}

/* Menu Settings */
.menu, .vertical-tab-header {
  background-color: var(--background-primary);
}
select, .dropdown, select:focus,
.dropdown:focus {
  box-shadow: 0 0 0px 1px var(--background-modifier-border-focus);
}
textarea:active,
input[type='text']:active,
input[type='search']:active,
input[type='email']:active,
input[type='password']:active,
input[type='number']:active,
textarea:focus,
input[type='text']:focus,
input[type='search']:focus,
input[type='email']:focus,
input[type='password']:focus,
input[type='number']:focus,
textarea:focus-visible,
input[type='text']:focus-visible,
input[type='search']:focus-visible,
input[type='email']:focus-visible,
input[type='password']:focus-visible,
input[type='number']:focus-visible {
  box-shadow: 0 0 0 1px var(--background-modifier-border-focus);
}

/* Kanban Plugin Styles */
.kanban-plugin__lane {
  border-radius: var(--border-radius);
  background: var(--main-background);
}
.kanban-plugin__lane .task-list-item-checkbox {
  background: var(--background-primary);
  border: 1px solid var(--kanban-checkbox-border) !important;
  filter: none !important;
}
.kanban-plugin__item-title-wrapper {
  background: var(--background-secondary);
}
.kanban-plugin__item-tag {
  border-radius: var(--border-radius) !important;
}
button:not(.clickable-icon) {
  background: var(--accent-soft-background);
  color: var(--kanban-button-text);
}
button:not(.clickable-icon):hover {
  background: var(--accent-main-foreground);
  color: var(--kanban-button-text-hover);
}
button:not(.clickable-icon), button:not(.clickable-icon):hover {
  box-shadow: 0px 0px 1px 0px var(--button-shadow);
  transition: 0s;
}

/* Code Execution Plugin */
code.language-output hr {
  border-top: var(--code-indentation-guide-color) 1px solid !important;
  margin: 1.5em 0 1.5em;
}
:not(.use-custom-output-color) code.language-output span.stdout {
  color: var(--code-normal) !important;
}
code.language-output {
  margin-bottom: 4em !important;
}
.run-code-button, .clear-button {
  background: transparent !important;
  border: 1px solid var(--code-normal) !important;
  color: var(--code-normal) !important;
  margin: 16px !important;
}
.run-code-button:hover, .clear-button:hover {
  background: var(--code-normal) !important;
  border: 1px solid var(--code-normal) !important;
  color: var(--background-dark) !important;
}

/* Status Bar */
.status-bar {
  background-color: var(--background-secondary);
}
